name: libSGM CI

on:
  push:
  schedule:
    - cron: 0 2 * * *


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Test
      run: |
       make tests
       gcov -r . --object-directory=`pwd` > gcov-report.xml
    - name: Setup python
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install libSGM and dependencies
      run: |
          python -m pip install --upgrade pip
          pip install .[dev]
    - name: Test with pytest
      run: |
          pytest --junitxml=pytest-report.xml --cov-config=.coveragerc --cov-report xml --cov
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
    - name: Create source distribution
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      run: |
        pip install numpy
        pip install build
        python -m build --sdist
    - name: Publish package on pypi
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
       user: __token__
       password: ${{ secrets.PYPI_API_TOKEN }}
